body{ padding: 0px; margin: 0px;  font-family: 'latoregular';}
h1, h2, h3, h4, h5, h6, ol, li, ul, a, img, p, span, strong{ padding: 0px; margin: 0px;}
a:hover,a:focus{ outline: none; text-decoration: none}
section{ float: left; width: 100%;}
.pad0{ padding: 0;}
img { max-width: 100%;}









/****************HEADER-CSS-START***************************************/
.site-header{ background: #fff;     border-bottom: 1px solid #eee;}
.site-header_inner {border-bottom: 1px solid #eee;}
.site-header .site_nav {padding: 10px 0px;}
.search_social { float: right;top: -21px; position: relative; text-align: center;}
.site_nav .navbar-nav li{padding: .5rem 1rem;}
.site_nav .navbar-nav li:last-child{padding-right:0px;}
.site_nav .navbar-nav li a.nav-link{font-size: 14px;color: #000;padding-right: 40px;     font-family: 'latoregular'; text-transform: uppercase;     padding: 5px 10px;border-radius: 2px;   }
.site_nav .navbar-nav li.active a.nav-link, .site_nav .navbar-nav li.active a.nav-link:focus, .site_nav .navbar-nav li a.nav-link:hover{color: #fff !important;background: #0265cb;box-shadow: 1px 4px 4px rgba(204, 204, 204, 0.45098039215686275);}
.fixed-me {position: fixed;top: 0px;z-index: 99;width: 100%;box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.25098039215686274);}
.fixed-me .site_nav{padding: 10px 0px;}
.site-header .dropdown .dropdown-menu{    top: 64px; box-shadow: 0px 3px 5px rgba(116, 114, 114, 0.3411764705882353); border:none;    border-radius: 0px;}
.site-header.fixed-me .dropdown .dropdown-menu{top: 52px;}
.site-header .dropdown .dropdown-menu a{    border-bottom: 1px solid #eee;padding-left: 10px;font-size: 14px;}
.site-header .dropdown .dropdown-menu a i{margin-right: 5px;}
.site-header .dropdown .dropdown-menu a:last-child{border: none;}
.site-header .dropdown .dropdown-menu a:hover{    color: #008aff !important;}
.center_img {    margin-top: 50px;
   
}
/****************HEADER-CSS-END***************************************/


/****************SLIDER-SECTION-CSS-START***************************************/
.background-image-maker {left: 0;background-size: cover;background-repeat: no-repeat;background-position: center;background-color: #fafafa;}
.background-image-maker, .overlay:before {position: absolute;width: 100%;height: 100%;top: 0;}
.slider_section{position: relative;     } 
.banner-content{position: relative; padding: 100px 0px 0px;float: right;width: 100%; }
.banner-content h1 {text-align: center; font-size:60px;    font-weight: bold; position: relative; }
.banner-content h1:before{width: 150px; height: 1px; background: #fff; position: absolute; top: -30px; content: "";     margin: auto;left: 0px;right: 0px; }
.small_text{     font-size: 18px;letter-spacing: 5px;     width: 100%;text-align: center;    padding-top: 30px;display: inline-block;}
.tag_line {background: #fff;    padding: 40px 0px 80px;background-image:linear-gradient(to right,#26c8f7,#4c339b 100%); position: relative}

.tag_line h2{font-size: 40px;font-weight: bold;}
.demo_text li {list-style: none;font-size: 25px;color: #fff;    transition: all 1s ease;padding-bottom: 10px;}
.demo_text li i {margin-right: 10px;}
.tag_line p {font-size: 48px;     max-width: 768px; margin: 30px auto; color: #fff;    line-height: 56px;}
.demo_text li:hover{padding-left: 10px;     transition: all 1s ease;}
.demo_text{width: 100%; float: left; padding: 80px 0px 0px;    position: relative;
    z-index: 9;}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {overflow: hidden;position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin: auto;}
.bgTop {z-index: 15;opacity: 0.5;}
.bgMiddle {z-index: 10;opacity: 0.75;}
.bgBottom { z-index: 5;}
.wave {position: absolute;left: 0;width: 200%;height: 100%;background-repeat: repeat no-repeat;background-position: 0 bottom;transform-origin: center bottom;}
.waveTop {background-size: 50% 100px;}
.waveAnimation .waveTop {animation: move-wave 3s;-webkit-animation: move-wave 3s;-webkit-animation-delay: 1s; animation-delay: 1s;}
.waveMiddle {background-size: 50% 120px;}
.waveAnimation .waveMiddle {animation: move_wave 10s linear infinite;}
.waveBottom {background-size: 50% 100px;}
.waveAnimation .waveBottom {animation: move_wave 15s linear infinite;}
/****************SLIDER-SECTION-CSS-END***************************************/
.marque marquee {font-size: 15px;padding: 10px 0px 0px;     color: #fff;text-transform: capitalize;}
.marque{background: #1ba1e2;max-height: 2px; }
.marque:after{    background: linear-gradient(-45deg, transparent 16px, #1ba1e2 0), linear-gradient(45deg, transparent 16px, #1ba1e2 0);background-repeat: repeat-x;background-position: left bottom;background-size: 22px 32px;content: "";display: block;width: 0%;height: 1px;position: relative;top: 10px;left: 0px;}
/****************FEATURE-SECTION-CSS-END***************************************/
.feature .card {border: none;}
.icon {width: 100%;display: inline-block;}
.demo_text a.btn.btn-primary {background: #fff;        color: #000;border: none;padding: 10px 30px;     margin-top: 30px;font-size: 19px;}
.feature .card-content .content{font-size: 16px;     color: #999999 !important;}
.feature .card-content h5{font-size:17px; font-weight: bold;     color: #fff !important;}
#feature {position: relative;     padding: 25px 0px 70px 0px;}
#offerslider .col-12.col-md-4 {max-width: 100%;}
.tag_line .borderr{width: 1px;height: 52px;background: #000; display: inline-block;}
/****************FEATURE-SECTION-CSS-END***************************************/
.arrow {position: absolute;top: 40px;bottom: 0px;right: -23px}
.works {padding: 20px 0px 90px 0px;}
.marque marquee span {padding: 0px 30px; position:relative}
.f{background: rgb(48, 48, 230);
  
    padding: 20px;/* or whatever width you want. */
     /* or whatever width you want. */
     }

.arrow_second{position: absolute;right: -52px;top: 40px;}
.left_arrow{position: absolute;top: 40px;left: -46px;}
.circle_icon{position: relative;}
.circleshvr {border: 2px solid #a8a8a8;height: 120px;width: 120px;display: inline-block;border-radius: 100%;}

.left_space{padding-left:20px; }
.que_database {border-radius: 100%;display: inline-block; height: 117px;width: 117px; background-position: -109px 6px; transition: all .4s ease; overflow:hidden; position:relative}
.que_database:hover {background-position: 8px 6px;}
.circleshvr:hover {background: #fff;border: 2px solid #0063c6;}
.tst_dsgn{border-radius:100%;display:inline-block;height:117px;width:117px;background-position:-373px -88px;transition:all .4s ease;overflow:hidden; position:relative}
.tst_dsgn:hover{background-position:-235px -88px}
.tst_assgn{border-radius:100%;display:inline-block;height:117px;width:117px;background-position:-117px -94px;transition:all .4s ease;overflow:hidden; position:relative}
.tst_assgn:hover{background-position:0 -94px}
.gen_result{border-radius:100%;display:inline-block;height:117px;width:117px;background-position:-390px 8px;transition:all .4s ease; overflow:hidden; position:relative}
.gen_result:hover{background-position:-289px 8px}
.right_space {
	padding-right: 20px;
}
.tst_dsgn img,
.tst_assgn img,
.gen_result img,
.que_database img {
	position: absolute;
	height: 100%;
	object-fit: cover;
	left: 0;
	top: 0;
}
/****************CLIENTS-CSS-END***************************************/


/****************recently***************************************/
.exam._box {width: 100%;text-align: center;float: left;}
.exam_box {float: left;width: 100%;text-align: center;     background: #fff none repeat scroll 0 0;     transition: all 1s ease;border-radius: 4px; transition: transform .2s; /* Animation */}
.exam_box:hover{box-shadow: 0 0 23px rgba(0, 0, 0, .15);    transition: all 1s ease; margin-top: -10px}
.top_box {background-image: linear-gradient(to right,#26c8f7,#4c339b 100%);min-height: 120px;padding: 20px 0px 10px;float: left;width: 100%;}
.color_box{background-image: linear-gradient(to right,#f7b9ff,#9C27B0 100%)}
.green_box{background-image: linear-gradient(to right,#49f8c1,#02b2fe 100%)}
.last_box{background-image: linear-gradient(to right,#624bb7,#fbbdb2 100%);}
.top_box .packages_logo_box {width: 80px;height: 80px;margin: 0px auto;display: inline-block; border: 5px solid #fff;border-radius: 50%; overflow: hidden;
position: relative}
.top_box .packages_logo_box img {position: absolute;left: 0;top: 0;right: 0;bottom: 0;max-height: 100%;margin: auto;object-fit: cover;width: 100%;
height: 100%;}
.user_name { font-size: 20px;color: #fff;text-transform: capitalize; padding: 10px 0px;}
.biottom_box { float: left; width: 100%;}
.biottom_box ul {list-style: none; padding: 10px 5px; text-align: left;}
.biottom_box ul li {list-style: none;font-size: 14px; padding: 7px 0px;color: #0265cb;border-bottom: 1px solid #f3f2f2;}
.biottom_box ul li:last-child{border: none}
.biottom_box ul li i {margin-right: 5px;}
.biottom_box ul li b { float: right;color: #000;font-weight: normal;font-size: 14px;text-transform: capitalize;}
.title { width: 100%; text-align: center; font-size: 40px;padding: 60px 0px;text-transform: uppercase}
.testimoanildesign{padding: 40px 0px 80px;}
.gcerror, .form_fieldd label.error, .my_postad_input_bx label.error, .my_dtls_input_bx label.error, .input label.error, .error-message { float: left; width: 93%; position: relative;background: #ff3543;font-size: 14px;color: #fff;padding: 2px 15px;text-align: left;left: 4%; font-weight: normal;}
.gcerror:before, .form_fieldd label.error:before, .my_postad_input_bx label.error:before, .my_dtls_input_bx label.error:before, .input label.error:before, .error-message:before {position: absolute;left: 0px;top: -5px; content: ""; border-bottom: 10px #ff3543 solid; border-left: 0px transparent solid; border-right: 8px transparent solid;}
/****************recently***************************************/
/****************dashboard***************************************/
.schedule-bx {float: left;width: 100%;;}
.schedule-table {display: table;width: 100%;}
.schedule-tr {display: table-row;width: 100%;}
.schedule-td {display: table-cell;    border-bottom: 1px solid #ddd;font-size: 14px;color: #333;border-right: 1px #ddd solid;padding: 5px 5px;text-transform: capitalize;text-align: center;}
.list-details-th {display: table-row;width: 100%;}
.list-details-th .list-details-td:last-child, .schedule-tr .schedule-td:last-child{border-right: none;}
.list-details-td {font-size: 15px;color: #333;background: #f2f6f9;font-weight: bold;     text-align: center;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;display: table-cell; padding: 7px 6px;}
.schedule-btn .btn.btn-default {background: #0265cb;color: #fff;padding: 3px 9px;}
/****************dashboard***************************************/

/*-----------------------My Account Page css--------------*/

.myaccount_bg{ float: left; width: 100%; padding: 20px 0;     background-color: #196fe9;    margin:0px 0px 0px 0px;     background-position: 70% 100%;}
.useer_detail_bx {float: left;}
.user_pic { background: #fff; border-radius: 50%; float: left; height: 100px; overflow: hidden; position: relative; width: 100px;  margin-top: 12px;}
.user_pic img{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; max-height: 100%; margin: auto;}
.user_details { color: #fff; float: left; padding-left: 40px; padding-top: 10px;}
.change_pic { bottom: 2px; position: absolute; right: 0px; text-align: center; width: 100%; display: none;} 
.user_pic:hover .change_pic { display: inline-block}
.change_pic a { background: #196fe9; border-radius: 20px; color: #fff; display: inline-block; font-size: 14px; height: 30px; padding: 7px 0 0; width: 30px;}
.change_pic a:hover { background: #000;}
.user_details h2{display: block; font-size: 30px;}
.user_acc { float: left; margin-top: 10px; width: 100%; font-size: 18px;}
.user_acc i{ width: 25px;}
.user_acc span{ display: inline-block; }
.post_ad { float: right;padding-top: 50px;}
.post_ad a{ display: inline-block; font-size: 20px; padding: 10px 40px; color: #fff; border-radius: 3px;}
.myaccount_links{ float: left; width: 100%; background: #f2f6f9;box-shadow: 0 3px 5px 0 #ddd; position: relative; min-height: 310px;     border: 1px solid #eee;}
#slide_filter { background: #1970e9;width: 100%;display: inline-block; padding: 10px 10px;color: #fff;}
.myaccount_links li {display: inline-block;width: 100%;}
.myaccount_links li a { padding: 14px 10px;  display: inline-block;text-transform: capitalize; color: #5c7990;    font-size: 15px;width: 100%;      border-right: 2px solid transparent;} 
.myaccount_links li a:hover:after, .myaccount_links li.active a:after{    -webkit-transform: scaleX(1);transform: scaleX(1);}
.set_btn{display: none;}
.myaccount_links li a i{margin-right: 10px;}
.myaccount_links li:last-child a{border-bottom: none;}
.my_acc_menu{ float: left; width: 100%;}
.my_acc_menu ul{ float: left; width: 100%;}
.my_acc_menu ul li{ float: left; margin-right: 20px; }
.my_acc_menu ul li a.active,
.myaccount_links ul li a:hover, .myaccount_links ul li.active a{ color: #3d6d94; background: #fff;    box-shadow: 0px 0px 3px #dedede;     border-right: 2px solid #196fe9;}
.myaccount_links ul li a:hover i{    color: #196fe9;}
.my_acc_menu ul li.active a,
.my_acc_menu ul li a:hover{background: #196fe9; color: #fff; }
.myaccount_user_details{ float: left; width: 100%; padding: 30px 0; background: #fff;}
.my_acc_details { background: #fff; border-radius: 3px; box-shadow: 0 0 5px 0 #f2f6f9; float: left; min-height: 300px; width: 100%; padding:0px 0px 10px;}
/*.my_dtls { border: 1px solid #ddd; float: left; margin-bottom: 2%; margin-right: 2%; padding: 20px; width: 49%;}*/
.my_dtls:nth-child(2n+2) { margin-right: 0;}
.my_dtls:last-child{border-bottom: none;}
.my_dtls{    border-bottom: 1px solid #e7ebee;float: left; padding: 10px 10px; width: 100%;}
.my_dtls:nth-child(2n){background: #f2f6f9;}
.my_dtls label { color: #333333; display: inline-block;font-size: 16px;    padding-bottom:0px; margin-bottom: 0px;  width:30%;     font-weight: bold;}
.my_dtls span { color: #333; display: block; font-size: 14px;display: inline-block;    width: 69%;} 
.my_edir_in { float: left; text-align: center; width: 100%;}
.my_dtls_input { display: inline-block; margin: 10px 2% 10px; text-align: left; width: 45%;}
.my_dtls_input:nth-child(2n+2){float:right;}
.right_wrap { float: left;width: 100%;border: 1px solid #eee;}
.form_title {background: #196fe9;color: #fff;font-size: 20px;text-transform: capitalize;padding: 10px 16px;}
.my_dtls_input_buts{float:left; width:100%;     padding: 15px 20px 20px;}
.my_dtls_input label { color: #333; display: block; font-size: 14px;    padding-bottom: 0px; font-weight: normal;}
.my_dtls_input label span.require { color: red;}
.my_dtls_input_bx {float: left; width: 100%; position: relative}
#insurance_documents, #driving_documents, #plumbing_documents{margin-top: 10px;}
.inline_check{display: inline-block; margin-right: 5px;    margin-bottom: 0px;}
.my_dtls_input_bx textarea{width:100%; resize:none; padding:10px;         border: 1px solid #d4d4d4;}
.my_dtls_input_bx input[type="text"],.my_dtls_input_bx input[type="password"]{ float: left; width: 100%; height: 40px; color: #333; font-size: 14px;border: 1px #ddd solid; border-radius: 1px; padding: 0 15px;}
.my_dtls_input.cnadd { width: 96%;}
.ersu_message {width: 100%;}
.my_dtls_input_bx button[type="submit"],
.my_dtls_input_bx input[type="submit"]{font-size: 20px; background: #1970e9;border: none; width: 177px;height: 40px;line-height:26px; border-radius: 50px; color: #fff;}

.my_dtls_input_bx .changeancor_btn{ font-size: 20px; background: #333;;border: none;width: 177px;height: 40px;line-height:40px;border-radius: 50px;color: #fff; display: inline-block; text-align: center; vertical-align: top; margin-left: 10px;}
.admin_no_record {width: 100%;text-align: center;font-size: 25px;padding: 40px 0px; border: 1px solid #eee;}

.form__registers{ width: 100%}
.form__registers a{ color: #196fe9; display: inline-block;font-family: 'montserratlight'; font-size: 17px;}
.form_field_img{float:left; width:100%; margin-bottom: 20px;}
.form_field_img label{    color: #333; float: left; width: 30%;  font-size:18px; padding-bottom: 10px; font-weight: normal;}
.image_wrape{    float: left;width: 50%; position: relative;}
.form_fieldd input[type="file"] { border: 1px solid #ddd; border-radius: 1px;color: #333; float: left;font-size: 17px;padding: 8px 8px;width: 100%;}
.img_title .form_fieldd{    float: left; width: 40%;position: relative;}
.hetxt {font-size: 11px; display: inline-block;}
.edit_profile {padding: 25px; float: left; width: 100%;}
.iner_img { border: 2px solid #196fe9; border-radius: 3px; float: left; height: 150px; overflow: hidden; position: relative; width: 250px;margin-bottom: 20px; text-align: center;}
.deletimg{position: absolute;     position: absolute;right: 0px; width: 25px; height: 28px; background: #196fe9; font-size: 20px;color: #fff; z-index: 1}
.deletimg:hover, .deletimg:focus{color: #fff;}
.iner_img img{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; max-height: 100%; margin: auto;}
.delete_img { bottom: 0; position: absolute; right: 0;}
.delete_img a{ display: inline-block; background: #196fe9; padding: 6px 10px; color: #fff; font-size: 18px;}
.profile-links { float: right; padding-top: 5px;}
.profile-links a {display: inline-block;color: #fff;font-size: 14px; vertical-align: top;margin-left: 20px;}
.profile-links a i {margin-right: 5px;}
.set_btnmenu { display: none;}
/*------------Podt AD Page css-------------*/
/****************SUCCESS-CSS-END***************************************/

footer{float: left; width: 100%; background: #272727;     padding: 40px 0px 0px 0px; margin-top: 20px;}
.footer_text{color: #BDBDBD; font-size: 14px;    max-width: 330px;     padding: 40px 0px 0px 0px;} 
.first_block{float: left;    width:100%;}
.second_block {float: left;width:100%;     padding: 35px 0px 0px 0px;}
.footer-list{width: 50%; float: left;}
.footer-list ul{width: 100%; display: inline-block}
.footer-list ul li{width: 100%; display: inline-block}
.footer-list ul li a{ display: inline-block}
.footer-list ul li a{color: #858585; font-size: 15px; text-transform: capitalize;padding: 0px 0px 8px 0px;}
.footer-list ul li a:hover{color: #fff;}
.social_link li {display: inline-block;}
.social_link li a {color: #858585;font-size: 20px;text-transform: capitalize; margin-right: 14px;}
.social_link li a:hover{color: #0265cb;}
.social { width: 100%; float: left; padding: 35px 0px 30px 0px;}
.icon_deatil{width: 100%; float: left; font-size: 16px; color: #fff;     padding: 0px 0px 13px 0px;}
.icon_deatil i{color: #0265cb; margin-right: 5px; }
.icon_deatil a{color: #fff;}
.sub_footer{    display: inline-block;width: 100%;font-size: 14px;text-align: center;color: #BDBDBD;padding: 20px 0px; border-top: 1px solid #464646; margin: 40px 0px 0px 0px;}
.sub_footer a{color: #BDBDBD;}
.sub_footer a:hover{color: #0265cb;}
/****************SUCCESS-CSS-END***************************************/



/****************login-css***************************************/

/*-----------Login Page css----------*/
.login_logos { float: left; margin-bottom: 40px; text-align: center; width: 100%;}
.page {  float: left; width: 100%;}
.login_fuul { background: #fff; float: left; padding: 50px 0; width: 100%;   background-size: cover; }
.wrapper_login { margin: 0 auto; max-width: 480px;}
.login_bxxs { background: #fff; border-radius: 3px; box-shadow: 0 0 10px 0 #ccc; float: left; padding: 20px 0 0; width: 100%;}
.login_bxxs h2{ display: block; font-size: 30px;          text-align: center; color: #333}
.login_bx { float: left; padding-top: 10px; width: 100%;}
.login_form{ float: left; width: 100%; padding:20px 50px 10px;}
.login_input{  display: inline-block; margin-bottom: 20px; position: relative; width: 100%;}
.login_input input[type="text"]{ float: left; width: 100%;}
.icon_in { color: #666; font-size: 19px; left: 20px; position: absolute; top: 13px;}
.login_input input[type="text"], .login_input input[type="password"] { float: left; width: 100%; background: #eceff1; height: 50px; border-radius: 3px; border: 1px solid #e2e2e2; font-weight: normal;color: #666; font-size: 16px;padding: 0 20px 0 48px; box-shadow:inherit;transition: .3s; }
.slct_drop .input.select {height: auto; padding: 0px;}
.res_bx_left #showhidepass {position: absolute; right: 1px; top: 0px;background: #dfe2e4;cursor: pointer; padding: 15px;font-size: 14px}
.login_input input[type="text"]:focus, .login_input input[type="password"]:focus { background: #fff; border-color: #90caf9;   box-shadow: none;}
.submit_login{ float: left; width: 100%}
.submit_login input[type="submit"] {  background: #0265cb; border: medium none; border-radius: 0 0 3px 3px; color: #fff; float: left; font-size: 20px;height: 55px; line-height: 47px; text-align: center; width: 100%;     cursor: pointer; }
.submit_login input[type="submit"]:hover {background: #0265cb;}
.forgot_password {display: inline-block;margin-top: 30px;text-align: center;width: 100%;font-size: 18px;color: #000;}
.form__remember {  margin: 0 0; min-height: 27px; overflow: hidden; text-align: left; position: relative; float: left; width: 50%}
.form__registers{width: 100%;}
.form__remember input[type=checkbox].in-checkbox {  position: absolute;top: -50px;left: -50px;opacity: 0;}
label.in-label {display: inline-block;cursor: pointer;position: relative;padding-left: 34px; padding-top: 3px;font-weight: normal;
 font-size:17px; color:#000; }
label.in-label:before {content: ""; display: inline-block; width: 24px; height: 24px; margin-right: 10px; position: absolute; left: 1px; top: 5px; padding-top: 3px; background-color: #fff; border: 1px solid #333; -webkit-transition: 0.3s; transition: 0.3s; border-radius:3px;}		
.form__remember input[type=checkbox].in-checkbox:checked + label:before { font: normal normal normal 14px/1 FontAwesome; content: "\f00c";  font-size: 12px;  color: #333; text-align: center; line-height: 18px;}
.form__remember input[type=checkbox]:not(old)+label.error:before {content: "";width: 24px;height: 23px;background: 0 0; float: left;position: absolute;left: 1px;border-radius: 3px;z-index: 1;border: 1px solid red;pointer-events: none;top:5px;}
.form__remember input[type=checkbox]:not(old)+label.error{font-size: 0!important; border: none; padding: 0px;}
.form__remember input[type=checkbox]:checked+label:before, 
.form__remember input[type=checkbox]:checked:not(old)+label+label:before{    font: normal normal normal 14px/1 FontAwesome;
content: "\f00c";font-size: 12px;color: #2c3e50;text-align: center;line-height: 18px;}
.forgot { float: right; padding-top: 3px;}
.forgot a { display: inline-block;font-size:17px; color:#196fe9;}
.forgot a:hover{ color: #333}

.login_input label.error{ color: #f00; margin: 0; padding: 0; font-weight: normal}
/****************login-css***************************************/


 .no_dash {width: 100%;text-align: center;margin: 33px 0;padding: 40px 0;font-size: 20px;font-weight: bold;}
/****************contact-css***************************************/
.maids {width: 100%;float: left;margin:0px 0px 0px;}
.middel_con {width: 100%;float: left;}
.con_tu {float: left;width: 100%; padding: 20px 0;}
.rig_con {float: left;width: 90%;}
.con_left .fancy-title, .rig_con .fancy-title {margin: 0px 0px 30px 0px;color: #333;font-weight: 600;font-size: 25px;}
.cgtr {float: left;width: 100%;margin-top: 12px;}
.left_wrap {float: left;}
.input_box_register .con_inpt_textarea, .input_box_register .con_inpt, .in_boxes_inpu_left01 .con_inpt {float: left;width: 100%;border: 1px solid #ddd;height: 44px;padding: 0 10px;color: #444;border-radius: 2px;box-shadow: none;}
.reg_textare textarea{height: 200px !important; resize:none; padding: 10px 10px !important;}
.input_box_register label.error, .input_box_register label.error, .input_box_register label.error, .input label.error, .error-message {float: left; width: 93%; position: relative; background: #ff3543;font-size: 14px;color: #fff;padding: 2px 15px;text-align: left;left: 4%;font-weight: normal;}
.input_box_register label:before, .input_box_register label.error:before, .input_box_register label.error:before, .input_box_register label.error:before, .input_box_register label:before, .error-message:before {position: absolute;left: 0px;top: -5px;content: "";border-bottom: 10px #ff3543 solid;border-left: 0px transparent solid;border-right: 8px transparent solid;}
.input_box_register input[type="text"], .input_box_register input[type="password"] { padding: 7px 10px;}
.oned {float: left; width: 100%; font-size: 14px;color: #444; margin-bottom: 10px; position: relative;}
.metios {float: right;width: 94%;font-size: 13px;color: #444;}
.copmanys .metios {display: inline-block;}
.metios.metios1 {padding-top: 4px;}
.copmanys {float: left;width: 100%;padding: 7px 0;}
.con_le {float: left;width: 100%;}
.img_bdr_new_neww {border: 5px solid #fff;box-shadow: 0px 0px 10px #ccc;margin: 20px 0px 40px;}
.inner_heading {color: #000;display: inline-block;font-size: 34px;font-weight: 500; padding: 0 0px; position: relative;}
.contact_us {  background-repeat: repeat; width: 100%;padding: 50px 10px;}
.contact_us span {color: #fff;    color: #0265cb;background: #fff; padding: 5px 20px; width: 100%;display: inline-block;border-radius: 5px;}
.inner_headingtext {float: left;text-align: left;width: 100%;     background: #f7f7f7;border-bottom: 1px solid #efefef; position: relative;}
.input_box_register.reg_textare {float: left; width: 100%;margin-bottom: 20px;position: relative;}
.loing_dv { width: 100%;float: left;}
.input_box {display: inline-block;margin: 10px 0px; vertical-align: top;}
.input_box button[type="submit"] {width: 140px;padding: 10px 5px;background: #1970e9;text-transform: uppercase;font-size: 15px;border-color: #1970e9;height: 44px;border-radius: 50px;}
.input_box {display: inline-block; margin: 10px 0px;vertical-align: top;}
.input_box input[type="reset"] { width: 140px;padding: 11px 5px;text-transform: uppercase;font-size: 15px;height: 44px;border-radius: 50px;    background: #ec5627;color: #fff;}
.copmanys.copmanys1 img { max-width: 85%;-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.copmanys small {float: left; width: 5%;color: #00adef; padding-top: 0px; font-size: 17px;line-height: 22px;}
.copmanys.copmanys2 img {max-width: 20px;-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.copmanys.copmanys4 img { max-width: 20px; -webkit-filter: grayscale(100%);filter: grayscale(100%);}
.static_page {color: #333;float: left;font-size: 15px;line-height: 24px;min-height: 500px;padding: 20px 0px;width: 100%;}
/****************contact-css***************************************/


.static_page.insterrr {display: inline-block; width: 100%; margin-top: 20px;border: 1px #ddd solid;padding: 30px; font-size: 15px;color: #555;line-height: 23px;position: relative;text-align: justify;    min-height: 390px;}
.go-back-btn {float: left;width: 100%;margin: 20px 0px 0;}
.go-back-btn a.btn.btn-default.left-default {border: 1px solid #ccc;}
.go-back-btn span.btn.btn-primary {float: right;}
.static_page.insterrr p {padding-bottom: 10px;}
.fixexn_head {color: #ec5627;font-size: 20px;border-bottom: 1px solid #eee; padding-bottom: 5px;margin-bottom: 10px;font-family: 'latobold';}
.fixexnore{float: left; width: 100%;}
.fixexnore ul{list-style: none;}
.fixexnore ul li { color: #000000;padding-bottom: 5px;}
.que_desc {width: 100%;padding: 0px 0px 15px 0px;color: #000;float: left;}
.que_desc_img { width: 100%;overflow: hidden;height: 450px;text-align: center;position: relative;}
/****************test-page***************************************/

.header a{display:inline-block;color:#fff;font-size:18px;font-family:'poppinssemibold';}
.idfc-section{padding:30px 0}
.online-container{max-width:500px;margin:0 auto;}
.online-bx{display:inline-block;width:100%;border:2px #ccc solid;min-height:200px;border-radius:3px;padding:25px 35px;position:relative}
.online-header{display:inline-block;width:100%;text-align:center;position:relative}
.help-txt{display:inline-block;width:100%;text-align:center;padding-top:5px;font-size:14px;color:#555}
.online-btn{display:inline-block;width:100%;text-align:center;padding-top:10px;}
.btn-primary{color:#fff;background-color:#ec5627;border-color:#ec5627;font-size:16px;padding:8px 20px;}
.btn-primary:hover{color:#fff;background-color:#E0934F;border-color:#E0934F;}
.btn-default{font-size:16px;padding:8px 20px;}
.instructions-bx{display:inline-block;width:100%;padding-top:0px;}
.instructions-page-bx{display:inline-block;width:100%;margin-top:20px;border:1px #ddd solid;padding:30px;font-size:15px;color:#555;line-height:23px;position:relative;text-align:justify}
.page-title{position:absolute;left:26px;top:-17px;background:#fff;color:#000;font-size:20px;padding:5px;}
.go-back-btn{display:inline-block;width:100%;margin-top:30px;text-align:center}
.go-back-btn .btn-primary{float:right}
.left-default{float:left}
.instuction-bxx{display:inline-block;width:100%}
.instuction-bxx p{padding-bottom:10px;}
.question-bx{display:inline-block;width:100%;padding-top:15px;}
.disnone {display: none;}
.presktip span#skipbtn {border: 1px solid #ccc;}
.presktip { display: inline-block;width: 56%;text-align: right;}
.left-default {border: 1px solid #ccc;float: left; }
.presktip span:hover{background: #eee;}
.question-bx-left{float:left;width:100%;padding-bottom:15px;text-align:left;}
.bank-qoestion{display:inline-block;width:100%;padding-left:15px;}
.que_head,
.bank-qoestion li{float:left;width:100%;color:#333;font-size:16px;color:#333;}
.question-bx-right{float:right;width:100%;text-align:left}
.radio-bx{display:inline-block;width:100%;margin-bottom:5px;}
.radio-bx label{font-size:15px;color:#555;font-weight:normal;vertical-align:top;padding-top:1px;width:92%}
.radio-bx label { margin-top: -2px;}
.question-number{display:inline-block;width:100%;margin-top:20px;border:1px #ddd solid;min-height:250px;text-align:left}
.question-number h3{background:#f1f1f1;color:#000;font-size:17px;padding:10px 20px;float:left;width:100%;border-bottom:1px #ccc solid}
.question-number ul{display:inline-block;width:100%;padding:15px 9px}
.question-number ul li{display:inline-block;margin-right:3px;margin-bottom:3px;text-align:center}
.question-number ul li span,
.question-number ul li a{display:inline-block;width:100%;width:31px;height:31px;text-align:center;border:1px #ccc solid;border-radius:50%;color:#333;font-size:14px;line-height:28px;cursor:pointer}
.question-number ul li.active span,
.question-number ul li.active a,
.question-number ul li a:hover{border:1px #ccc solid;color:#fff;background:#0265cb}
.number-inormation{display:inline-block;width:100%;padding:15px;}
.number-inormation ul{display:inline-block;width:100%;}
.number-inormation ul li{display:inline-block;width:100%;color:#333;font-size:16px;margin-bottom:10px}
.number-inormation ul li i{display:inline-block;width:20px;height:20px;border-radius:50%;margin-right:10px;vertical-align:top}
.number-inormation ul li span{display:inline-block;vertical-align:top}
.attempted{border:1px #ccc solid;background:#0265cb}
.no-attempted{border:1px #ccc solid;background:#fff}
.progres-bar{display:inline-block;width:100%;background:#fff;height:10px;border:1px #ccc solid;margin-top:20px;}
.progres-bar span{display:inline-block;width:10%;background:#0265cb;height:100%;}
.left-tome{display:inline-block;width:100%;text-align:right;font-size:15px;}
.left-tome i{margin-right:3px;}
.idfc-section form#qurdtionForm .col-sm-8.col-md-8 {max-width: 100%;}
.idfc-section form#qurdtionForm {width: 65%;float: left;}
.testload {display: none;position: fixed;left: 0;top: 0;width: 100%;text-align: center;height: 100%; background: rgba(0,0,0,0.7);}
.testload img {position: absolute;left: 0;right: 0;top: 0;bottom: 0; margin: auto;}
.exmain h2.online-subtitle.righttt {float: right;}
.exmain h2 { display: inline-block;}

.exam_row {float: left;width: 100%;padding: 20px;}
.exam_row h3 {font-size: 26px;text-transform: capitalize;padding: 0px 0px 10px 0px;border-bottom: 1px solid #eee;margin-bottom: 20px;}
.ddetail_box {float: left;width: 100%;border: 1px solid #eee;box-shadow: 0px 0px 5px rgba(204, 204, 204, 0.23921568627450981);}
.title_row {width: 100%;float: left;border-bottom: 1px solid #efefef;padding: 10px 10px;}
.featured {float: left;font-size: 15px;text-transform: capitalize;width: 30%;font-weight: bold;color: #828282;}
.progress-bar { position: relative;width: 0;animation: progress 1.5s ease-in-out forwards;} 
.title {opacity: 0;animation: show 0.35s forwards ease-in-out 0.5s;}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.progress_bar {width: 60%;float: right;}
.progress_inner {width:65%;float: left; background: #eaeaeb;}
.gain {float: right;width:15%;text-align: right;}
.blue_gra{background-image: linear-gradient(to right,#26c8f7,#4c339b 100%);background-color: transparent;}
.yellow_gra{background-image: linear-gradient(to right,#41a94d,#23ff3f 100%);}
.red_gra{background-image: linear-gradient(to right,#f84949,#ffa4a5 100%);}
.green_gra{background-image: linear-gradient(to right,#624bb7,#fbbdb2 100%); background-color: transparent;}
.gain_left{float:left; width:20%;text-align: center;}
.red_blue{    background-image: linear-gradient(to right,#b74b6e,#c1b2fb 100%);}
.blue_green{    background-image: linear-gradient(to right,#4b7bb7,#66da36 100%);}
.yello_red{    background-image: linear-gradient(to right,#fbff3a,#da3636 100%);}
.orange_pink{    background-image: linear-gradient(to right,#ff7d40,#d472b1 100%);}
.green_blue{    background-image: linear-gradient(to right,#0f9b40,#3926e7 100%);} 
.social-login{display: inline-block;     padding: 25px 0px;width: 100%;text-align: center;}
.social-login a {display: inline-block; width: 40px;height: 40px;color: #fff;font-size: 24px;border-radius: 3px;line-height: 38px; margin: 0 5px;}
.face-login {background: #1976D2;}
.google-login {background: #DD4A39;}
.social-login a:hover{opacity: 0.9;}
.or-dev span{ display: inline-block; background: #fff; border: 1px #ddd solid; border-radius: 30px; padding: 5px 15px; position: relative;
 color: #000; font-size: 15px;}
.or-dev:before{ position: absolute; left: 0; top: 50%; content: ""; width: 100%; height: 1px; background: #ddd; transform: translate(0,-50%)}
.or-dev {display: inline-block;width: 100%;text-align: center;position: relative; margin-bottom: 0px;}
/****************view-result***************************************/

.viewbtnn {float: right;}
.viewbtnn a{font-size: 17px;  color: #1970e9; display: inline-block;border-bottom: 1px #1970e9 solid;}

.view_answer {display: inline-block;width: 100%;padding: 0 20px;}
.view_answer .question-bx-right {border-bottom: 1px #ddd solid;padding-bottom: 10px;}
.correct_ans {display: inline-block;width: 100%;background: #eee;padding: 10px 20px;}
.cor_cc {display: inline-block;padding-right: 20px;border-right: 1px #999 solid;}
.cor_your {display: inline-block; padding-left: 15px;}
.view_answer .que_desc_img {height: 420px;}
.view_answer .radio-bx {padding-left: 20px;}
.login_fuul_forgot{ height: 100vh}
.share-with-friend {
	display: inline-block;
	width: 100%;
	color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;
}



@media (max-width: 992px){
.icon_deatil{font-size: 15px;}
.navbar-nav{margin-top: 10px;}
.contact_us h1 {font-size: 30px;}
.exam_box{margin-bottom: 10px;}
.demo_text{padding: 10px 0px 0px;}
.demo_text li{font-size: 21px;}
.arrow, .arrow_second, .left_arrow{display: none;}
.marque marquee {
	font-size: 20px;
}
.title {
	font-size: 30px;
	padding: 30px 0px;
}
.testimoanildesign {
	padding: 10px 0px 30px;
}
}
@media (max-width: 767px){
.set_btnmenu {display: block;background: #196fe9;padding: 10px;margin-bottom: 10px;color: #fff;}
.set_btnmenu .fa{margin-right: 10px;}
.user_details{padding-left: 30px;}
.biottom_box ul li, .biottom_box ul li b{font-size: 16px;}
.left_space {padding-left: 0;}
.works {padding: 20px 0px;}
.title{font-size: 25px;padding: 20px 0px;}
.demo_text{padding: 20px 0px 0px;}
.demo_text li{font-size: 18px;}
.demo_text a.btn.btn-primary{margin-bottom: 10px;}
.exam_box{margin-bottom: 10px;}
.banner-content h1{font-size: 23px;}

.site_nav .navbar-nav li {padding: 4px 1rem;}
.circle_icon {position: relative;text-align: center;padding: 0px !important;margin-bottom: 30px;}
.schedule-bx {float: left;width: 600px;}
.my_acc_details{overflow: auto; min-height: auto;}
.exam_row h3{font-size:23px;}
.featured{width:100%;}
.progress_bar {width: 100%;float: right;margin: 10px 0px;}
.progress_inner{width: 86%;}
.gain{width: 11%; font-size: 15px;} 
.myaccount_links{min-height: 255px; display: none;}
.my_dtls_input{width: 96%;}
.my_dtls_input_bx button[type="submit"], .my_dtls_input_bx input[type="submit"]{width: 112px;}
.my_dtls_input_bx .changeancor_btn{width:112px;}
.my_dtls_input_bx{text-align: center;}

.site-header .navbar-collapse {
	float: right;
	left: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	background: #fff;
	top: 100%;
	border-top: 1px #ddd solid;
	z-index: 999;
}
.banner-content {
	padding: 70px 0px 0px;
}
.site-header .site_nav {
	position: initial;
}
.site_nav .navbar-brand {
	width: 210px;
	transition: width 1s ease, height 1s ease;
}
.site-header {
	position: relative;
}
.icon_deatil{font-size: 16px;}
.sub_footer {
	padding: 10px 0px;
	margin: 10px 0px 0px 0px;
}
.social {
	padding: 15px 0px 20px 0px;
}
.footer_text {
	max-width: 100%;
	padding: 20px 0px 0px 0px;
}
.second_block {
	padding: 15px 0px 0px 0px;
}
.testimoanildesign {
	padding: 20px 0px 10px;
}
}

@media (max-width: 580px){
.demo_text{padding: 20px 0px 0px;text-align: left;}
.user_details{padding-left: 20px;text-align: left;}
.user_pic{display: inline-block;margin: 0px auto; float: none;}
.useer_detail_bx {float: left;text-align: center;}
.right_wrap{margin: 20px 0px;}
.metios{padding-left: 8px;}
} 
/****************responisve-css-end***************************************/

